.homepage-container{
    height: 684px;
    background: url(homepagecover.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}
.heading {
    color: azure;
    size: 40px;
}